.article-content pre {
  display: block;
  padding: 0.5em 1em;
  background-color: #fafafa;
  border: 1px solid #eee;
  overflow: auto;
}

.article-content pre code {
  white-space: pre-wrap;
  color: #455a64;
  background: transparent;
}

.article-content pre code::before {
  content: attr(data-code);
  float: right;
  color: #ddd;
}

.article-content pre code::selection,
.article-content pre span::selection {
  background-color: #eceff1;
}

.article-content pre:hover code::before {
  color: #455a64;
}

.hljs-comment,
.hljs-quote {
  color: #b0bec5;
}

.hljs-section,
.hljs-selector-tag,
.hljs-deletion,
.hljs-keyword {
  color: #d73a49;
}

.hljs-doctag,
.hljs-formula,
.hljs-selector-class,
.hljs-function .hljs-title,
.hljs-class .hljs-title,
.hljs-name {
  color: #22863a;
}

.hljs-tag .hljs-attr {
  color: #6f42c1;
}

.hljs-function .hljs-params,
.hljs-selector-id,
.hljs-attr,
.hljs-variable,
.hljs-template-variable,
.hljs-type,
.hljs-selector-attr {
  color: #fb8c00;
}

.hljs-literal,
.hljs-number {
  color: #990055;
}

.hljs-string,
.hljs-regexp,
.hljs-addition,
.hljs-meta-string,
.hljs-link {
  color: #669900;
}

.hljs-function .hljs-keyword,
.hljs-symbol,
.hljs-bullet,
.hljs-meta,
.hljs-attribute,
.hljs-built_in,
.hljs-title,
.hljs-selector-pseudo {
  color: #005cc5;
  font-style: italic;
}

.hljs-subst {
  color: #727171;
}
